# Python
venv/
../.venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Environment variables
.env

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Project specific
*.pdf
vectorstore/